@model GroupViewModel

<div class="indent__margin-bottom">
    <a asp-controller="Group" asp-action="Edit" asp-route-id="@Model.Id">
        <input class="button button__link button__red" type="button" value="Редактировать" />
    </a>
</div>

<p class="todo__detail">Название: @Model.Title</p>
<p>Комментарий: @Model.Description</p>

<p>Список пользователей</p>
@foreach (var profile in Model.Profiles)
{
    <div>Имя: @profile.LastName</div>
    <div>Фамилия: @profile.FirstName</div>
    <div>Отчество: @profile.MiddleName</div>
}

<p>@Model.GroupUrl</p>

<div class="indent__margin-bottom">
    <a asp-controller="Transaction" asp-action="Create" asp-route-id="@Model.Id">
        <input class="button button__link button__orange" type="button" value="Добавить платеж" />
    </a>
</div>

@foreach (var transaction in Model.Transactions)
{
    <form asp-controller="Group" asp-action="Index">
        <div>
            <a class="todo__text" asp-controller="Transaction" asp-action="Index" asp-route-id="@transaction.Id">
                <span>@transaction.Description</span>
            </a>
            <p> Наименование: @transaction.Description Комментарий: @transaction.Comment Сумма: @transaction.Amount</p>
        </div>
        <div>
            <a asp-controller="Transaction" asp-action="Delete" asp-route-transactionId="@transaction.Id">
                Удалить
            </a>
        </div>
    </form>
}

@foreach (var payment in Model.Scores)
{
    <div>Имя: @payment.LastNameCreditor</div>
    <div>Фамилия: @payment.FirstNameCreditor</div>
    <div>Отчество: @payment.MiddleNameCreditor</div>
    <div>Сумма: @payment.Summ</div>
}

@foreach (var score in Model.UsersScore)
{
<div>@score.LastNameDebitor @score.FirstNameDebitor @score.MiddleNameDebitor должен @score.LastNameCreditor @score.FirstNameCreditor @score.MiddleNameCreditor сумму в размере @score.Summ</div>
}
