@model ProfileViewModel


<form class="forms" asp-controller="Profile" asp-action="Profile">
    <div>
        <p>
            Фамилия: @Model.FirstName
        </p>
    </div>
    <div>
        <p> Имя: @Model.LastName</p>
    </div>
    <div>
        <p> Отчество: @Model.MiddleName</p>
    </div>
    <div>
        <p> Номер телефона: @Model.Phone</p>
    </div>
    <div>
        <p> Email: @Model.Email</p>

        @if (Model.EmailConfigm == false)
        {
            <p>Email не подтвержден</p>
            <a asp-controller="Profile" asp-action="RequestEmail">Запрос подтверждения Email</a>
        }
    </div>
    <div>
        <a asp-controller="Profile" asp-action="EditProfile">Изменить профиль</a>
        <a asp-controller="Profile" asp-action="ChangePhoneNumber">Изменить номер телефона</a>
        <a asp-controller="Profile" asp-action="ChangeEmail">Изменить email</a>
        <a asp-controller="Account" asp-action="ChangePassword">Изменить пароль</a>
    </div>
    <div>
        <a asp-controller="Group" asp-action="Index">События</a>
    </div>
</form>
