@model ProfileViewModel

<h2>Вход в приложение</h2>
<form asp-controller="Profile" asp-action="Profile">
    <div>
        <p> LastName: @Model.LastName</p>
    </div>
    <div>
        <p> FirstName: @Model.FirstName</p>
    </div>
    <div>
        <p> MiddleName: @Model.MiddleName</p>
    </div>
    <div>
        <p> Phone: @Model.Phone</p>
    </div>
    <div>
        <p> Email: @Model.Email</p>

        @if (Model.EmailConfigm == false)
        {
            <p>Email не подтвержден</p>
            <a asp-controller="Profile" asp-action="RequestEmail">Запрос подтверждения Email</a>
        }
    </div>
    <div>
        <a asp-controller="Profile" asp-action="EditProfile">Изменить профиль</a>
        <a asp-controller="Profile" asp-action="ChangePhoneNumber">Изменить номер телефона</a>
        <a asp-controller="Profile" asp-action="ChangeEmail">Изменить email</a>
    </div>
    <div>
        <a asp-controller="Group" asp-action="Index">События</a>
    </div>
</form>
